# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports

import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (2).csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")
# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"], axis=1)

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes =="object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        applicant_data_df[["ASK_AMT", "IS_SUCCESSFUL", "STATUS"]],
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
encoded_df.head()

,ASK_AMT,IS_SUCCESSFUL,STATUS,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:10]

0    1
1    1
2    0
3    1
4    1
5    1
6    1
7    1
8    1
9    0
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"], axis=1)

# Review the features DataFrame
X.head()

,ASK_AMT,STATUS,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [14]:
X_train.dtypes

ASK_AMT                       int64
STATUS                        int64
APPLICATION_TYPE_T10        float64
APPLICATION_TYPE_T12        float64
APPLICATION_TYPE_T13        float64
                             ...
INCOME_AMT_25000-99999      float64
INCOME_AMT_50M+             float64
INCOME_AMT_5M-10M           float64
SPECIAL_CONSIDERATIONS_N    float64
SPECIAL_CONSIDERATIONS_Y    float64
Length: 116, dtype: object

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [15]:
# Create a StandardScaler instance
scaler = StandardScaler()

In [16]:
# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

In [17]:
# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [18]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])
# Review the number of features
number_input_features

116

In [19]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [20]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + number_output_neurons) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [21]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + number_output_neurons) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [22]:
# Create the Sequential model instance
nn = Sequential()

In [23]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [24]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [25]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons , activation="sigmoid"))

In [26]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [27]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [28]:
# Fit the model using 50 epochs and the training data
deep_net_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5743 - accuracy: 0.7209
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7299
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7306
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7335
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7337
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7333
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7346
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7332
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7335
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7345
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7352
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7363
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7370
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7357
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7369
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7374
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7369
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7374
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7373
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7362
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7385
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7375
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7379
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7383
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7385
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7371
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7385
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7391
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7397
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7394
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7393
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7385
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7403
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7390
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7386
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7406
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7393
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7396
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7392
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7414
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7411
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7403
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7402
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7407
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7397
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7402
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7406
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7419
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7404
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7395

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [29]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5539 - accuracy: 0.7298 - 481ms/epoch - 2ms/step
Loss: 0.5539447069168091, Accuracy: 0.7297959327697754

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [30]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [31]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [32]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 2

In [33]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons_A1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

59

In [34]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 =  (hidden_nodes_layer1_A1 + number_output_neurons) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2_A1

30

In [35]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 =  (hidden_nodes_layer2_A1 + number_output_neurons) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer3_A1

15

In [36]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [37]:
# First hidden layer
nn_A1.add(Dense(units = hidden_nodes_layer1_A1, input_dim = number_input_features, activation = "relu"))

# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))

# Add the third hidden layer
nn.add(Dense(units=hidden_nodes_layer3_A1, activation="relu"))

# Output layer
nn_A1.add(Dense(units = number_output_neurons_A1, activation = "linear"))

# Check the structure of the model
nn_A1.summary

In [38]:
# Compile the Sequential model
nn_A1.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [39]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 2.1164 - accuracy: 0.4936
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 1.6727 - accuracy: 0.5468
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 1.4826 - accuracy: 0.5297
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 1.6472 - accuracy: 0.5151
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 1.8545 - accuracy: 0.5294
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 2.2437 - accuracy: 0.5766
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 2.3819 - accuracy: 0.6151
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 2.3917 - accuracy: 0.5928
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 2.2551 - accuracy: 0.5390
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 1.8728 - accuracy: 0.5114
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 1.8431 - accuracy: 0.5064
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 1.7042 - accuracy: 0.5065
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 1.5456 - accuracy: 0.5065
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 1.3888 - accuracy: 0.5307
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 1.4530 - accuracy: 0.4679
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 1.3364 - accuracy: 0.5019
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 1.1950 - accuracy: 0.5491
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 1.1213 - accuracy: 0.4876
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 1.2970 - accuracy: 0.4654
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 1.5167 - accuracy: 0.5451
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 1.1605 - accuracy: 0.4729
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0873 - accuracy: 0.4835
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0619 - accuracy: 0.4988
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0595 - accuracy: 0.5183
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0680 - accuracy: 0.5101
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 1.1219 - accuracy: 0.5084
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0775 - accuracy: 0.4610
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0914 - accuracy: 0.5126
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0371 - accuracy: 0.4583
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0775 - accuracy: 0.5133
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0166 - accuracy: 0.4796
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9501 - accuracy: 0.4592
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.8582 - accuracy: 0.4843
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.8460 - accuracy: 0.5136
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7518 - accuracy: 0.5406
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7317 - accuracy: 0.4825
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7236 - accuracy: 0.5026
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7664 - accuracy: 0.4907
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7903 - accuracy: 0.4805
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7912 - accuracy: 0.5447
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7600 - accuracy: 0.5275
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7716 - accuracy: 0.5367
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7693 - accuracy: 0.5286
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7638 - accuracy: 0.4892
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7359 - accuracy: 0.5166
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7394 - accuracy: 0.5566
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7493 - accuracy: 0.4294
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7137 - accuracy: 0.4852
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7255 - accuracy: 0.5146
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7192 - accuracy: 0.5001
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7249 - accuracy: 0.5155
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6974 - accuracy: 0.5267
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7239 - accuracy: 0.4839
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7358 - accuracy: 0.4994
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7344 - accuracy: 0.4992
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7248 - accuracy: 0.4926
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7123 - accuracy: 0.4518
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6821 - accuracy: 0.4780
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6853 - accuracy: 0.4656
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.4489
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7080 - accuracy: 0.4426
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7108 - accuracy: 0.5110
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7046 - accuracy: 0.5138
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7065 - accuracy: 0.4968
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6891 - accuracy: 0.4759
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7433 - accuracy: 0.5207
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7142 - accuracy: 0.5075
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6991 - accuracy: 0.5634
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6770 - accuracy: 0.5207
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6993 - accuracy: 0.5171
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6970 - accuracy: 0.4187
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6762 - accuracy: 0.4812
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6819 - accuracy: 0.5067
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7110 - accuracy: 0.5058
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6854 - accuracy: 0.4379
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6898 - accuracy: 0.4667
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6808 - accuracy: 0.5047
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6795 - accuracy: 0.5199
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6970 - accuracy: 0.5194
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5477
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6856 - accuracy: 0.4852
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6746 - accuracy: 0.4486
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7094 - accuracy: 0.4789
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7327 - accuracy: 0.5361
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7186 - accuracy: 0.5428
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6797 - accuracy: 0.5220
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6693 - accuracy: 0.5422
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6648 - accuracy: 0.5089
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6740 - accuracy: 0.4909
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6663 - accuracy: 0.4958
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6957 - accuracy: 0.5077
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7020 - accuracy: 0.6243
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7172 - accuracy: 0.5503
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7042 - accuracy: 0.5270
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7578 - accuracy: 0.5326
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.8364 - accuracy: 0.5035
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7359 - accuracy: 0.4608
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7488 - accuracy: 0.4667
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7395 - accuracy: 0.3815
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7208 - accuracy: 0.4144

#### Alternative Model 2

In [40]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [41]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [42]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + number_output_neurons_A1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

59

In [43]:
# Create the Sequential model instance
nn_A2 =  Sequential()

In [44]:
# First hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer1_A2, input_dim = number_input_features, activation = "relu"))


# Output layer
nn_A2.add(Dense(number_output_neurons_A2, activation = "sigmoid"))


# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 59)                6903

 dense_8 (Dense)             (None, 1)                 60

=================================================================
Total params: 6,963
Trainable params: 6,963
Non-trainable params: 0
_________________________________________________________________

In [45]:
# Compile the model
nn_A2.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [52]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled,y_train,epochs=25)

Epoch 1/25
804/804 [==============================] - 4s 4ms/step - loss: 0.5387 - accuracy: 0.7372
Epoch 2/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7360
Epoch 3/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7357
Epoch 4/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7373
Epoch 5/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7381
Epoch 6/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7392
Epoch 7/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7366
Epoch 8/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7365
Epoch 9/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7386
Epoch 10/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7379
Epoch 11/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7375
Epoch 12/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7366
Epoch 13/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7380
Epoch 14/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7377
Epoch 15/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7386
Epoch 16/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7376
Epoch 17/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7378
Epoch 18/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7369
Epoch 19/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7380
Epoch 20/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7377
Epoch 21/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7387
Epoch 22/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7378
Epoch 23/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7384
Epoch 24/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7376
Epoch 25/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7398

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [47]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5539 - accuracy: 0.7298 - 325ms/epoch - 1ms/step
Loss: 0.5539447069168091, Accuracy: 0.7297959327697754

In [48]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.7192 - accuracy: 0.4167 - 463ms/epoch - 2ms/step
Loss: 0.7191992402076721, Accuracy: 0.4166763722896576

In [53]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5728 - accuracy: 0.7326 - 347ms/epoch - 1ms/step
Loss: 0.5727505087852478, Accuracy: 0.7325947284698486

### Step 3: Save each of your alternative models as an HDF5 file.

In [54]:
# Set the file path for the first alternative model
file_path = "Model1.h5"

# Export your model to a HDF5 file
nn.save(file_path)

In [55]:
# Set the file path for the second alternative model
file_path = "Model2.h5"

# Export your model to a HDF5 file
nn.save(file_path)